---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import { Card } from '@/components/ui/card'
import Layout from '@/layouts/Layout.astro'
import { getYouTubeVideoID } from '@/lib/utils'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const vods = await getCollection('vods')
  return vods.map((vod) => ({
    params: { slug: vod.slug },
    props: { vod },
  }))
}

const { vod } = Astro.props
const youtubeId = getYouTubeVideoID(vod.data.vodUrl)
---

<Layout title={vod.data.title} description={`Stream VOD: ${vod.data.title}`}>
  <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="py-4">
      <Breadcrumbs
        items={[
          { href: '/vods', label: 'VODs', icon: 'lucide:film' },
          { label: vod.data.title, icon: 'lucide:play' },
        ]}
      />
    </div>

    <div class="mx-auto">
      <!-- YouTube Embed -->
      <div class="relative mb-6 h-0 overflow-hidden rounded-lg pb-[56.25%]">
        <iframe
          class="absolute left-0 top-0 h-full w-full"
          src={`https://www.youtube.com/embed/${youtubeId}`}
          title={vod.data.title}
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>

      <!-- VOD Information -->
      <Card className="flex gap-x-4 p-4">
        <img
          src={vod.data.gameCoverURL}
          alt={`Game cover for ${vod.data.game}`}
          class="aspect-[3/4] max-h-24 max-w-20 rounded-lg"
        />
        <div>
          <h3 class="mb-1 text-xl font-semibold md:text-2xl">
            {vod.data.title}
          </h3>
          <div class="text-sm text-muted-foreground">
            <p>
              Playing: <span class="font-semibold text-foreground"
                ><a
                  href={`/vods/games/${vod.data.game.toLowerCase().replace(/[^a-z0-9]+/g, '-')}`}
                  class="hover:underline">{vod.data.game}</a
                ></span
              >
            </p>
            <p>
              Streamed on: <span class="font-semibold text-foreground"
                >{
                  vod.data.streamDate.toLocaleDateString('en-US', {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                  })
                }</span
              >
            </p>
            <p>
              Duration: <span class="font-semibold text-foreground"
                >{vod.data.duration}</span
              >
            </p>
          </div>
        </div>
      </Card>
    </div>
  </main>
</Layout>
