---
import Section from '@/components/Section.astro'
import TableOfContents from '@/components/blog/TableOfContents.astro'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { formatDateUS } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection, render } from 'astro:content'
import { ChevronLeft, ChevronRight, X } from 'lucide-react'

export async function getStaticPaths() {
  const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

function getPostIndex(id: string): number {
  return posts.findIndex((post) => post.id === id)
}

function getPrevPost(id: string): Props | null {
  const postIndex = getPostIndex(id)
  return postIndex !== -1 && postIndex < posts.length - 1
    ? posts[postIndex + 1]
    : null
}

function getNextPost(id: string): Props | null {
  const postIndex = getPostIndex(id)
  return postIndex > 0 ? posts[postIndex - 1] : null
}

const currentPostId = Astro.params.id
const prevPost = getPrevPost(currentPostId)
const nextPost = getNextPost(currentPostId)

const post = Astro.props
const { Content, headings } = await render(post)
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image?.src ?? '/static/twitter-card.webp'}
>
  {/* Post Nav/ Info */}
  <Section class="flex justify-between p-0">
    {/* Previous Post */}
    <div class="flex h-32 w-14 items-center justify-center border-r">
      {
        prevPost ? (
          <a
            class="flex h-full w-full items-center justify-center text-muted transition-colors hover:text-primary"
            href={`/blog/${prevPost.id}`}
            aria-label={`Previous post: ${prevPost.data.title}`}
          >
            <ChevronLeft size={24} />
          </a>
        ) : (
          <X size={24} className="text-muted" />
        )
      }
    </div>
    {/* Current Post Info */}
    <div
      class="relative flex flex-col items-center justify-center p-6 text-center"
    >
      <p class="absolute select-none text-6xl font-bold text-muted opacity-30">
        {formatDateUS(post.data.date)}
      </p>
      <h1 class="relative z-10 text-lg">{post.data.title}</h1>
    </div>
    {/* Next Post */}
    <div class="flex h-32 w-14 items-center justify-center border-l">
      {
        nextPost ? (
          <a
            class="flex h-full w-full items-center justify-center text-muted transition-colors hover:text-primary"
            href={`/blog/${nextPost.id}`}
            aria-label={`Next post: ${nextPost.data.title}`}
          >
            <ChevronRight size={24} />
          </a>
        ) : (
          <X size={24} className="text-muted" />
        )
      }
    </div>
  </Section>

  {/* Post Image */}
  {
    post.data.image && (
      <Section>
        <Image
          src={post.data.image}
          alt={post.data.title}
          width={1200}
          height={630}
          class="object-cover"
        />
      </Section>
    )
  }
  <Section last>
    {headings.length > 0 && <TableOfContents headings={headings} />}

    <article class="prose prose-invert max-w-none">
      <Content />
    </article>

    <Button
      size="icon"
      className="group fixed bottom-8 right-8 z-50 hidden"
      id="scroll-to-top"
      title="Scroll to top"
      aria-label="Scroll to top"
    >
      <Icon
        name="lucide:arrow-up"
        class="mx-auto size-4 transition-all group-hover:-translate-y-0.5"
      />
    </Button>
  </Section>

  <script>
    document.addEventListener('astro:page-load', () => {
      const scrollToTopButton = document.getElementById('scroll-to-top')
      const footer = document.querySelector('footer')

      if (scrollToTopButton && footer) {
        scrollToTopButton.addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' })
        })

        window.addEventListener('scroll', () => {
          const footerRect = footer.getBoundingClientRect()
          const isFooterVisible = footerRect.top <= window.innerHeight

          scrollToTopButton.classList.toggle(
            'hidden',
            window.scrollY <= 300 || isFooterVisible,
          )
        })
      }
    })
  </script>
</Layout>
