---
import AvatarComponent from '@/components/ui/avatar'
import { Badge } from '@/components/ui/badge'
import { Separator } from '@/components/ui/separator'
import { formatDate, readingTime } from '@/lib/utils'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Link from '@/components/Link.astro'
import { Icon } from 'astro-icon/components'

type Props = {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props as {
  entry: CollectionEntry<'blog'>
}

const formattedDate = formatDate(entry.data.date)
const readTime = readingTime(entry.body!)
---

<div
  class="not-prose rounded-xl border border-white/25 p-4 transition-colors duration-300 ease-in-out hover:bg-secondary/50"
>
  <Link
    href={`/${entry.collection}/${entry.id}`}
    class="flex flex-col gap-4 sm:flex-row"
  >
    {
      entry.data.image && (
        <div class="max-w-[160px] sm:flex-shrink-0">
          <Image
            src={entry.data.image}
            alt={entry.data.title}
            width={1200}
            height={630}
            class="object-cover rounded-md"
          />
        </div>
      )
    }
    <div class="flex flex-col flex-grow justify-center">
      <h3 class="text-lg font-bold">
        {entry.data.title}
      </h3>
      <p class="mb-2 text-sm text-muted-foreground">
        {entry.data.description}
      </p>
      <div
        class="mb-2 flex flex-wrap items-center gap-x-2 text-xs text-muted-foreground"
      >
        <Icon name="lucide:calendar" size="16" />
        <span>{formattedDate}</span>
        <Separator orientation="vertical" className="h-2" />
        <Icon name="lucide:clock" size="16" />
        <span>{readTime}</span>
      </div>
    </div>
  </Link>
</div>
