---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Layout from '@/layouts/Layout.astro'
import VodCard from '@/components/VodCard.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const vods = await getCollection('vods')
  const sortedVods = vods.sort(
    (a, b) => b.data.streamDate.valueOf() - a.data.streamDate.valueOf(),
  )

  // Get unique games and their first VOD's cover URL
  const gameData = sortedVods.reduce((acc: Record<string, { vods: typeof vods; coverUrl: string }>, vod) => {
    const game = vod.data.game || 'Other'
    if (!acc[game]) {
      acc[game] = {
        vods: [],
        coverUrl: vod.data.gameCoverURL || ''
      }
    }
    acc[game].vods.push(vod)
    return acc
  }, {})

  return Object.entries(gameData).map(([game, { vods: gameVods, coverUrl }]) => ({
    params: { game: game.toLowerCase().replace(/[^a-z0-9]+/g, '-') },
    props: { game, vods: gameVods, coverUrl },
  }))
}

const { game, vods, coverUrl } = Astro.props
---

<Layout 
  title={`${game} VODs`} 
  description={`Archive of Twitch streams playing ${game}`}
  image={coverUrl}
>
  <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="py-4">
      <Breadcrumbs
        items={[
          { href: '/vods', label: 'VODs', icon: 'lucide:film' },
          { href: '/vods/games', label: 'Games', icon: 'lucide:gamepad-2'},
          { label: game, icon: 'lucide:gamepad' },
        ]}
      />
    </div>
    <div class="flex flex-row items-center mb-8">
      {coverUrl && <img src={coverUrl} alt="" class="aspect-[3/4] rounded-lg max-h-28 mr-4 object-cover" />}
      <div class="flex flex-col">
        <h1 class="text-4xl font-bold flex items-center">
          {game}
        </h1>
        <p class="text-muted-foreground">
          {vods.length} stream{vods.length === 1 ? '' : 's'}
        </p>
      </div>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {vods.map((vod) => (
        <VodCard vod={vod} />
      ))}
    </div>
  </main>
</Layout>
